
.block {
    width: 50%;
}

.block-child {
    border: solid 2px #a7a7a7;
    margin: 8px;
    position: relative;
}

.block-child::before {
    position: absolute;
    top: -10px;
    left: 8px;
    background-color: white;
    padding: 0px 4px;
    color: #a7a7a7;
}

.block-child-req::before {
    content: "Реквезиты: ";
}

.block-child-xar::before {
    content: "Характеристики: ";
}

.block-child-own::before {
    content: "Представитель: ";
}

.block-child-doc::before {
    content: "Документы: ";
}

.grey {
    color: grey;
}

.bad {
    background-color: #ffbfbf;
}

.btn-vin {
    font-size: 12px;
    margin: 0 2px;
    padding: 2px;
}

.multiline-text {
    padding: 1px 2px;
    border: solid 1px #a7a7a7;
    border-radius: 1px;
    font-size: 0.8em;
}