body {
    font: caption;
    width: 100vw;
    height: 100vh;
}

.versions {
    font-size: 9px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.body-container {
    flex-grow: 1;
    width: 100%;
}