body {
    font: caption;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hor-panel {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.ver-panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grow {
    flex-grow: 1;
}

.button {
    border-radius: 4px;
    background-color: #ffffff;
    cursor: default;
    border: solid 1px;
    padding: 2px 4px;
    margin: 2px;
    user-select: none;
}

.button:hover {
    background-color: #a7a7a7;
    cursor: pointer;
}

.button:active {
    background-color: #6d6d6d;
}

.main-box {
    align-items: center;
    height: 100%;
}

.ui-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 6px;
}

#caption {
    font: caption;
    font-weight: bold;
    margin: 10px;
}

#subcaption {
    font: small-caption;
    font-weight: bold;
    margin-bottom: 10px;
}

.body-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}

.hide {
    display: none !important;
}

.icon-button {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: default;
    border: solid 1px;
    margin-left: 2px;
    user-select: none;
}

.icon-button:hover {
    background-color: #a7a7a7;
    cursor: pointer;
}

.icon-button:active {
    background-color: #6d6d6d;
}