body {
    font: caption;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.hor-panel {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.ver-panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grow {
    flex-grow: 1;
}

.button {
    border-radius: 4px;
    background-color: #ffffff;
    cursor: default;
    border: solid 1px;
    padding: 2px 4px;
    margin: 2px;
    user-select: none;
}

.button:hover {
    background-color: #a7a7a7;
    cursor: pointer;
}

.button:active {
    background-color: #6d6d6d;
}