.modality-lay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffffaa;
    box-sizing: border-box;
    display: flex;
    z-index: 1000000;
}

.modality-window {
    width: 60%;
    height: 70%;
    border: solid;
    border-radius: 8px;
    margin: auto;
    background-color: white;
}

.wait-window {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin: auto;
    background-color: white;
}

.alert-window {
    width: 40%;
    height: 20%;
    border-radius: 8px;
    margin: auto;
    background-color: white;
    z-index: 2000000;
}

.alert-window-message {
    flex-grow: 1;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.confirm-window {
    width: 40%;
    height: 20%;
    border-radius: 8px;
    margin: auto;
    background-color: white;
    z-index: 2000000;
}

.confirm-window-message {
    flex-grow: 1;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}