.place-table {
    width: 80%;
    align-self: center;
    overflow: hidden;
    flex-grow: 1;
}

.col1 {
    width: 39%;
}

.col2 {
    width: 39%;
}

.col3 {
    width: 22%;
}

.edit-win {
    height: 35%;
}
